@font-face {
    font-family: 'Open Sans';
    src: url(../media/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans-Bold';
    src: url(../media/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans-Light';
    src: url(../media/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open Sans-SemiBold';
    src: url(../media/fonts/OpenSans-Semibold.ttf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .advantage-tabs__item--w100 {
    cursor: pointer;
  }

body * {
    font-family: 'Open Sans';
   
}

.d-flex {
    display: flex;
}

.bh-section-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.bh-section-svg path {

    height: 700vh;
}

.bh-section {
    height: 700vh;
    position: relative;
    z-index: 2;
}

.bh-section--abs {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.bh-section__item .container .row {
    align-items: center;
    display: flex;
}

.fade {
    transition: opacity 0.3s ease-in;
  }
  
  .fadeOut { opacity: 0; }
  .fadeIn { opacity: 1; }

.bh-section__item {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.flex-jcfe {
    display: flex;
    justify-content: flex-end;
}

.container.fade {
    max-width: 1070px;
    width: 100%;
    top:50%;
}

.container.fade .row {
    display: flex;
    align-items: center;
}

.container-obs {
    height: 300vh;

}

.container-fixed-obs {
    position: fixed;
    width: 100%;
}

.container-fixed-abs--non-fixed {
    position: static;
}

body {
   
}

.clearHeader {
    position: absolute!important;
}







.align-items-center {
    align-items: center;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.jcc {
    justify-content:center;
}

.align-items-end {
    align-items: flex-end;
}

.w-100 {
    width: 100%;
}

.pos-rel {
    position: relative;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.jcfs {
    justify-content: flex-start!important;
}

li {
    list-style-type: none;
}

.flex-column {
    flex-direction: column;
}

.jcsb {
    justify-content: space-between;
}

.fixed-top-sect {
    height: 50px;
    top: 0;
    width: 100%;
    position: fixed;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #5A5A5A;
    align-items: center;
    z-index: 3;
    
}

.container.hiden-elem .row {
    display: flex;
    align-items: center;
}

.icon-wrapper .connecting-line {
    position: absolute;
    max-height: unset;
    height: unset;
}

.hiden-elem {
    transition: .4s;
    opacity: 0;
}

.fixed-top-sect-f {
    position: static
}

.fixed-top-sect--left {
    font-family: 'Open Sans-Bold';
    font-size: 16px;
    line-height: 38px;
    color: #fff;
}

.scroll-top {
   margin-right: 125px;
}

.capabilities-bl {
    position: relative;
}

.capabilities-bl ul {
    opacity: 0;
    visibility: hidden;
    padding: 15px 20px;
    transition: .2s;
    background-color: #393939;
    position: absolute;
    top: 35px;
    left: 50%;
    min-width: 258px;
    transform: translateX(-50%);
}

.capabilities-bl:hover ul {
    opacity: 1;
    visibility: visible;
}

.fixed-top-sect--right ul li, .fixed-top-sect--right ul li a {
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    display: flex;
    align-items: center;
}

.fixed-top-sect--right>ul>li>a {
   padding-left: 22px;
   padding-right: 22px;
}

.capabilities-bl {
    margin-right: 22px;
}

.fixed-top-sect--right>ul>li>a.connect {
    background-color: #87BA34;
    font-family: 'Open Sans-Bold'; 
    margin-left: 22px;
}

.banner-sect {
    height: calc(100vh - 54px);
    position: relative;
    background-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transition: .5s;
    opacity: 1;
    visibility: visible;
    z-index: 22;
}


.banner-sect-hide {
    opacity: 0;
    visibility: hidden;
}

.banner-sect-content h1 {
    font-family: 'Open Sans-Bold';
    font-size: 3vh;
    color: #fff;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.banner-sect-content p {
    color: #fff;
    font-size: 2vh;
    line-height: 32px;
    margin-bottom: 120px;
}

.banner-sect-content a {
    background-color: #87BA34;
    width: 233px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans-Bold';
    font-size: 18px;
    color: #fff;
    transition: .2s;
    border: none;
}

.banner-sect-content {
    position: relative;
}

.video-sect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;object-fit: cover;
}

.modal-bannersect button.close {
    color: #fff;
    opacity: 1;
    font-family: 'Open Sans-Light';
    font-size: 39px;
    position: absolute;
    top: 6px;
    left: 15px;
    z-index: 2;
}

.modal-bannersect .modal-body {
    padding: 0;
    position: relative;
}

.modal-bannersect .modal-body video {
    width: 100%;
    display: block;
}

.modal-bannersect .modal-dialog {
    width: 60%;
    top: 50%;
    transform: translateY(-50%)!important;
}

.img-bg-abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    max-height: 100vh;
    z-index: 2;
}

.img-bg-bottom-abs {
    width: calc(100% + 80px);
    bottom: -25px;
    position: absolute;
    left: -40px;
    margin-bottom: -20px;
}

.img-bg-bottom-abs img {
    width: 100%;
}

.build-it-section {
    width: 100%;
    padding-top: 160px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.non-pr {
    position: relative;
}

.icon-cont-abs {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.icon-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.icon-wrapper img {
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-height: 80vh;
    height: 100%;
}

.icon-wrapper svg {
    max-height: 80vh;
    height: 100%;
}

.main-subtitle {
    color: #fff;
    font-size: 3vh;
    font-family: 'Open Sans-Bold';
    line-height: 48px;
    margin-bottom: 20px;
}

.case-study-section {
    position: relative;
    background-color: #000;
    overflow: hidden;
    padding-top: 122px;
    background-image: url(../media/images/case-study-bg.svg); 
    background-repeat: no-repeat;
    background-position-y: 330px;
    background-size: cover;
    padding-bottom: 150px;
    z-index: 2;
}

.main-container {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.engenering-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engenering-section h2 {
    color: #fff;
    font-family: 'Open Sans-Bold';
    font-size: 2vh;
    line-height: 30px;
    margin-bottom: 10px;
}

.engenering-section p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.engenering-section--container {
    max-width: 527px;
}

.engenering-section p:last-child {
    margin-bottom: 0;
}

.engenering-section--container {
    position: relative;
}

.main-p {
    font-size: 1.3vh;
    line-height:1.7vh;
    color: #fff;
    margin-bottom: 20px;
}

.build-it-section--container {
    width: 100%;
    margin-left: auto;
    transition: .1s;
    margin-right: auto;
    position: relative;
    opacity: 1;
    max-width: 991px;
}

.build-it-section--container>div {
    max-width: 596px;
}

.text-link.animate-this {
    font-family: 'Open Sans-Bold';
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    display: block;
}

.build-it-section--abs {
    position: absolute;
    right: -81px;
    top: -219px;
}

.case-study-section--green-title {
    color: #87BA34;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    font-family: 'Open Sans-Bold';
}

.case-study-section__p {
   font-size: 22px;
   line-height: 30px;
   color: #fff; 
}

.case-study__item__title {
    color: #87BA34;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans-Semibold';
    margin-bottom: 10px;
}

.case-study__item a {
    font-size: 16px;
    font-family: 'Open Sans-Bold';
    line-height: 20px;
    color: #fff;
    margin-top: 20px;
    display: flex;
}

.case-study__item {
    max-width: 617px;
    position: relative;
    margin-bottom: 80px;
    width: 100%;
}

.case-study__item__main-img {
    width: 100%;
}

.case-study__item__abs {
    position: absolute;
    top: -23px;
    z-index: 2;
    right: 0;
}

.case-study__item__img-block {
    position: relative;
}

.case-study__item__img-block p {
    color: #fff;
    width: 100%;
    max-width: 339px;
    left: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    line-height: 32px;
}

.modal-case-studies .modal-dialog {
    width: 100%;
    max-width: 1100px;
    margin-top: 80px;
    
}

.modal-case-studies .modal-body {
    padding: 0;
    background-color: #383838;
}

.modal-case-studies__main-image {
    width: 100%;
}

.modal-case-studies .close {
    position: absolute;
    right: 17px;
    top: 17px;
    opacity: 1;
}

.modal-case-studies__wrapper {
    padding-top: 60px;
    padding-right: 95px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
    position: relative;
}

.modal-case-studies__wrapper__abs {
    position: absolute;
    min-height: 87px;
    top: -43px;
    right: 47px;
}

.modal-case-studies__bl {
    max-width: 714px;
    width: 100%;
}

.modal-case-studies__bl--title {
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    max-width: 540px;
    margin-bottom: 35px;
}

.modal-case-studies__bl--title--green {
    color: #87BA34;
    font-size: 26px;
    font-family: 'Open Sans-Bold';
    font-size: 26px;
    margin-bottom: 30px;
}

.modal-case-studies__bl--txt {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 35px;
}

.modal-case-studies__bl--txt span {
    font-family: 'Open Sans-Bold';
}

.modal-case-studies__bl--txt span a {
    text-decoration: underline;
    color: #fff;
}

.modal-case-studies__text-oriented {
    color: #87BA34;
    font-size: 120px;
    font-family: 'Open Sans-Light';
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    top: 52px;
    text-transform: uppercase;
    left: 15px
}

.load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 49px;
    background-color: #86BC25;
    color: #fff;
    font-family: 'Open Sans-Bold';
    font-size: 16px;
}

.col-w-mrg-cstm {
    margin-top: 145px;
}

.advantage-tabs-top p {
    font-family: 'Open Sans-Light';
    font-size: 16px;
    line-height: 36px;
    color: #fff;
}

.advantage-tabs-top {
    justify-content: space-between;
}

.advantage-tabs-top .nav-tabs {
    border: 0;
}

.advantage-tabs-top .nav-tabs>li {
    margin-right: 52px;
}

.advantage-tabs {
    margin-top: 50px;
}

.advantage-tabs .tab-content {
    margin-top: 22px;  
}

.advantage-tabs-top .nav-tabs>li>a {
    padding: 0px 33px;
    height: 36px;
    align-items: center;
    display: flex;
    font-family: 'Open Sans-Bold';
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: 1px solid transparent;
}

.advantage-tabs-top .nav-tabs>li.active>a {
    border: 1px solid #87BA34;
    background-color: transparent;
}

.advantage-tabs-top .nav-tabs>li>a:hover {
    border: 1px solid #87BA34;
    background-color: transparent;
    color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    color: #fff;
}

.advantage-tabs__cont {
    position: relative;
}

.advantage-tabs__cont img {
    width: 100%;
}

.advantage-tabs__cont p {
    position: absolute;
    font-size: 28px;
    line-height: 30px;
    z-index: 2;
    color: #fff;
    width: 100%;
    left: 45px;
    max-width: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.advantage-tabs__cont p span {
    display: block;
}

.advantage-tabs__item>a {
    color: #fff;
    font-family: 'Open Sans-Bold';
    font-size: 16px;
    line-height: 20px;
    display: flex;
    margin-top: 15px;
}

.advantage-tabs__item--w100 .advantage-tabs__cont p {
    max-width: 514px;
}

.advantage-tabs__item {
    margin-bottom: 52px;
    width: 48%;
}

.advantage-tabs__item--w100 {
    width: 100%;
}

.advantage-modal {
    padding: 50px 30px 50px 30px; 
}

.advantage-modal__left {
    width: 100%;
    padding-right: 20px;
}

.advantage-modal__right {
    min-width: 257px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 257px;
}

.advantage-modal__right__title {
    color: #87BA34;
    font-family: 'Open Sans-Bold';
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 13px;
}

.modal-case-studies .modal-dialog-advantage {
    top: 50%;
    transform: translateY(-50%)!important;
    margin-top: 0;
}

.advantage-modal__right__decription {
    font-family: 'Open Sans-Light';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.advantage-modal__right__txt {
    font-size: 16px;
    font-family: 'Open Sans-Bold';
    line-height: 20px;
    color: #fff;
}

.advantage-modal__left video {
    width: 100%;
}

.slider-main-img {
    position: relative;
}

.exploration-sect__container {
    max-width: 1070px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.slider-main-abs__name {
    font-family: 'Open Sans-Bold';
    font-size: 20px;
    line-height: 22px;
    color: #fff;
}

.slider-main-abs__pos {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.slider-main-abs {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    left: 20px;
    background-color: #00000094;;
    padding: 35px 20px 30px 20px;
}

.slider-main-abs__pos-mt-5 {
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.slider-main-abs__pos-mt-5 span {
    height: 30px;
    opacity: 0;
    display: flex;
}

.slider-main-img:hover .slider-main-abs__pos-mt-5 {
    height: 100%;
}

.human-exploration-sect {
    background-color: #000;
    padding-top: 0;
    background-image: url(../media/images/background-sect-img.png);  
    background-position: bottom;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;

}

.exploration-sect__txt {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    max-width: 519px;
    margin-bottom: 87px;
}

.build-the-future-sect {
    height: 357px;
    display: flex;
    align-items: center;
    background-image: url(../media/images/build-the-future.png);
    background-size: cover;
    background-position: center;
}

.the-future-cont {
    max-width: 1070px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.the-future-cont__title {
    font: 28px;
    font-family: 'Open Sans-Bold';
    line-height: 32px;
    color: #fff;
    margin-bottom: 35px;
}

.the-future-cont__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the-future-cont__wrapper p {
    font-size: 22px;
    line-height: 32px;
    width: 100%;
    max-width: 529px;
    color: #fff;
}

.the-future-cont__wrapper a {
    color: #fff;
    display: flex;
    background-color: #86BC25;
    justify-content: center;
    width: 215px;
    height: 49px;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans-Bold';
}

.case-studies__element {
    position: absolute;
    top: 290px;
}

.build-the-future-sect {
    margin-bottom: 50px;
}

.the-future-cont__wrapper h5 {
    font-size: 28px;
    font-family: 'Open Sans-Bold';
    line-height: 32px;
    color: #fff;
    max-width: 347px;
}

.bottom-sect-abs {
    position: absolute;
    bottom: 0px;
    right: -400px;
    animation: spin 30s linear 0s infinite;  
}

.case-studies__element{
    animation: spin 30s linear 0s infinite;  
    position: absolute;
}

.seven-element-sect {
    display: none;
}

.full-screen {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #masthead {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
  }
  #masthead a {
    padding: 1rem 2rem;
  }

  #panels {
      position: relative;
      z-index: 2;
      background-image: url(../media/images/engereing-bg.png);
      background-size: cover;
      background-attachment: fixed;
  }

  .flex-posabs {
    position: absolute;
  }
  
  .panels-title {
    font-family: 'Open Sans-Bold';
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
  }

  .container-align {
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      max-width: unset
  }

  .non-pr {
      padding-right: 0;
  }

  .height-aut-100 {
    height: 100%;
  }

  .container-align .row {
      display: flex;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      height: 100%;
      width: 100%;
  }

  .panels-txt {
      color: #fff;
      font-size: 16px;
      max-width: 413px;
      line-height: 24px;
      transition: .2s;
  }

  .panel {
      background-color: unset;
  }
  
  #panels #panels-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

  }

  .panel-container__abs {
      position: fixed;
      width: 100vw;
      background-size: 100% 100%;
      height: 100vh;
  }
  #panels #panels-container .panel, #panels1 #panels-container1 .panel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    text-align: left;
    background-size: cover;
  }


  #panels #panels-container .panel img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
  }

  .pl-rpoce {
      padding-left: 20%;
  }
  #panels #panels-container .panel .panels-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #panels #panels-container .panel .anchor-panel,
  #panels #panels-container .panel .nav-panel {
    color: #000;
    text-transform: uppercase;
    margin-right: 2rem;
  }
  #panels #panels-container .panels-navigation {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    right: 2rem;
  }
  
  .bowspin-class {
    animation: bowspin 100s linear infinite;
  }

  .group-roatate2 {
    animation: bowspin1 100s linear infinite;
  }
  .opacity-anim {
      animation: opac 3s ease-in-out infinite;
  }
/* 
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} */
@-webkit-keyframes bowspin {
    0% {
      transform: rotate(0deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    100% {
      transform: rotate(360deg);
      transform-origin: center;
      transform-box: fill-box;
    }
  }

  @-webkit-keyframes bowspin1 {
    0% {
      transform: rotate(0deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    100% {
      transform: rotate(-360deg);
      transform-origin: center;
      transform-box: fill-box;
    }
  }

  @-webkit-keyframes opac {
    0% {
     opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .cks-anuma {
      animation: translate 10s linear infinite;
  }

  @-webkit-keyframes translate {
    0% {
     transform:translate(0, 0)
    }
    50% {
        transform:translate(23px, -29px)
    }
    100% {
        transform: translate(0, 0)
    }
  }

.bow {
    -webkit-animation: bowspin 1.3s infinite;
    transform-origin: bottom center;
    animation: bowspin 30s infinite;
    -webkit-animation-timing-function: linear;
  }

.bow-2 {
    -webkit-animation: bowspin1 1.3s infinite;
    transform-origin: top center;
    animation: bowspin1 50s infinite;
    -webkit-animation-timing-function: linear;
}

.transform-next-sect {
    height: 221px;
    display: flex;
    align-items: center;
    background-image: url(../media/images/transform.png);
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
  
  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33.3333333%, 0, 0);
        transform: translate3d(33.3333333%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-33.3333333%, 0, 0);
        transform: translate3d(-33.3333333%, 0, 0);
    }
  }
  @media (min-width: 992px ) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33.3333333%, 0, 0);
        transform: translate3d(33.3333333%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-33.3333333%, 0, 0);
        transform: translate3d(-33.3333333%, 0, 0);
    }
    
  }
  
@media only screen and (max-width: 1200px) {

    .fixed-top-sect {
        display: none;
    }

    .banner-sect {
        margin-top: 0;
        height: auto;
        min-height: 100vh;
    }

    .human-exploration-sect .carousel {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }

    .banner-sect-content p {
        text-align: center;
    }

    .build-it-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .case-study__item {
        max-width: 100%;
        margin-top: 50px;
    }

    .advantage-tabs-top {
        flex-wrap: wrap;
    }

    .advantage-tabs-top p {
        width: 100%;
        margin-bottom: 15px;
    }

    .main-container {
        width: 100%;
    }

    .case-study-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .advantage-tabs-top .nav-tabs>li {
        margin-right: 25px;
    }

    .build-the-future-sect, .transform-next-sect {
        padding-left: 30px;
        padding-right: 30px;
    }

    .human-exploration-sect {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media only screen and (max-width: 991px) {

    .seven-element-sect {
        display: block;
        background-image: url(../media/images/elements-seven-bg.png);
        padding: 65px 0 135px 0;
        background-size: cover;
    }

    .modal-case-studies__text-oriented {
        position: static;
        transform: none;
        writing-mode: horizontal-tb;
        text-align: center;
        font-size: 60px;
        padding-top: 30px;
        margin-bottom: 20px;
        padding: 30px 20px 0 20px;
    }
    
    .seven-element-sect__cont {
        display: flex;
        flex-wrap: wrap;
    }

    .seven-element-sect__item {
        position: relative;
        width: 50%;
        padding-right: 30px;
        margin-bottom: 50px;
        padding-left: 30px;
    }

    .modal-case-studies__wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .seven-element-sect__item:last-child {
        margin-bottom: 0;
    }

    .seven-element-sect__item__title img {
        position: absolute;
    }

    .seven-element-sect__item__title  {
        font-size: 18px;
        font-family: 'Open Sans-Bold';
        color: #fff;
        line-height: 26px;
        padding-left: 74px;
    }

    .seven-element-sect__item__title .ecosystem-img {
        left: -38px;
        top: -70px;    
    } 

    .seven-element-sect__item__title .technology-img {
        left: -52px;
        top: -18px;    
    }

    .seven-element-sect__item__title .platforms-img {
        left: -91px;
        top: -68px;
    }

    .seven-element-sect__item__title .enterprice-img {
        left: -56px;
        top: -76px;
    }

    .seven-element-sect__item__title .leadership-img {
        left: -22px;
        top: -19px;
    }

    .seven-element-sect__item__title .tech-talent-img {
        left: -26px;
        top: -59px;
    }

    .seven-element-sect__item__title .markets-img {
        left: -29px;
        top: -60px;
    }

    .seven-element-sect__item_txt {
        color: #fff;
        font-size: 14px;
        line-height: 26px;
        margin-top: 20px;
    }

    .slider-main-abs__name {
        font-size: 16px;
        line-height: 20px;
    }

    .build-it-section {
        height: auto;
        padding-bottom: 200px;
    }


}

@media only screen and (max-width: 767px) {

    .human-exploration-sect .carousel {
        max-width: 300px;
        max-height: 446px;
        overflow-y: hidden;
    }

    .seven-element-sect__item {
        width: 100%;
    }

    .flex-wrap-com {
        flex-wrap: wrap;
        width: calc(100% + 60px);
    }

    .advantage-tabs__cont img {
        height: 240px;
        object-fit: cover;
    }

    .advantage-tabs-top .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantage-tabs__cont p {
        width: auto
    }

    .advantage-tabs__item {
        width: calc(100% + 60px);
        margin-left: -30px;
    }

    .advantage-tabs__item>a {
        padding-left: 30px;
        padding-right: 60px;
    }

    .the-future-cont__wrapper {
        flex-direction: column;
    }

    .the-future-cont__wrapper p {
        margin-bottom: 90px;
    }

    .the-future-cont__wrapper a {
        margin-top: 60px;
    }

    .build-the-future-sect {
        height: auto;
        padding-bottom: 60px;
        padding-top: 120px;
    }

    .transform-next-sect {
        height: auto;
        padding-top: 70px;
        padding-bottom: 75px;
    }

    .advantage-modal {
        flex-wrap: wrap;
    }

    .advantage-modal__left {
        padding-right: 0;
    }

    .advantage-modal__right {
        width: 100%;
        margin-top: 20px;
    }

    .bottom-sect-abs, .case-studies__element {
        display: none;
    }

    .modal-bannersect .modal-dialog  {
        left: 50%;
        transform: translate(-50%, -50%)!important;
        top: 50%;
        width: 100%;
        margin: 0;
    }

    .modal-case-studies .modal-dialog {
        margin-left: 0;
    }

    .modal-case-studies .close img {
        width: 17px;
    }

    .modal-case-studies .close {
        right: 9px;
        top: 9px;
    }

    .advantage-modal__right__txt {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 575px) {

    .banner-sect-content p {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 80px;
    }

    .build-it-section--abs {
        right: -33px;
        width: 125px;
        top: -260px;
    }

    .main-subtitle {
        font-size: 22px;
        line-height: 26px;
        font-family: 'Open Sans-SemiBold';
    }

    .main-p {
        font-size: 14px;
        line-height: 26px;
    }

    .text-link {
        font-size: 14px;
        line-height: 26px;
    }

    .build-it-section {
        background-position: center;
        padding-bottom: 100px;
    }

    .case-study-section {
        padding-top: 45px;
    }

    .case-study__item__img-block {
        width: calc(100% + 60px);
        margin-left: -30px;
    }

    .case-study__item__main-img {
        height: 184px;
        object-fit: cover;
    }

    .case-study__item__title {
        margin-bottom: 40px;
    }

    .case-study__item__abs {
        width: 184px;
        top: 39px;
    }

    .case-study__item__abs-width-mob {
        width: 117px;
    }

    .case-study__item {
        margin-bottom: 60px;
    }

    .case-study__item-mt-0 {
        margin-top: 0;
    }

    .modal-case-studies__text-oriented {
        font-size: 40px;
    }

    .modal-case-studies__wrapper__abs {
        position: absolute;
        min-height: 40px;
        top: -27px;
        right: 47px;
        height: 55px;
    }

}

.hero {
  height: calc(100vh + 2px);
  width: calc(100% + 2px);
  position: fixed;
  z-index: var(--hero-z-index);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__top {
  width: 100%;
  height: 60%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__bottom {
  width: 100%;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.hero__top .filler {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.filler-white {
  background-color: #fff;
}
.hero__illustration {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__illustration .filler:first-child {
  padding-top: 200px;
}
.hero-icon {
  width: 200px;
  height: 200px;
  background: transparent;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
}

.hero h1 {
  font-size: 120px;
  font-weight: lighter;
  margin: 0;
  opacity: 1;
}

.trailer {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: var(--trailer-z-index);
  background-color: transparent;
}
.video-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.video {
  height: 100vh;
  width: 100%;
  background: url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center;
  background-size: cover;
}

.past-threshold .trailer {
  position: absolute;
  height: 200vh;
}

.content {
  /* pushs content below header hero & trailer (should equal trailer height after threshold) */
  padding-top: 200vh;
}
.section {
  height: 75vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.section:nth-child(2n) {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.section h2 {
  font-size: 80px;
  font-weight: lighter;
}

:root {
    /* z-indexes */
    --hero-z-index: 2;
    --trailer-z-index: 1;
  }
  
  * {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  body {
    font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .hero {
    height: calc(100vh + 2px);
    top: 0;
    width: calc(100% + 2px);
    position: fixed;
    z-index: var(--hero-z-index);
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition: .2s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sticky-sect-cont {
      position: relative;
      height: 200vh;
      width: 100%;
  }
  .hero__top {
    width: 100%;
    height: 60%;
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__bottom {
    width: 100%;
    background: #fff;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__top .filler {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .filler-white {
    background-color: #fff;
  }
  .hero__illustration {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__illustration .filler:first-child {
    padding-top: 200px;
  }
  .hero-icon {
    width: 200px;
    height: 200px;
    background: transparent;
    margin: 0 auto;
    -webkit-clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
            clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
  }
  
  .hero h1 {
    font-size: 120px;
    font-weight: lighter;
    margin: 0;
    opacity: 1;
  }
  
  .trailer {
    position: sticky!important;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: var(--trailer-z-index);
    background-color: transparent;
    top: 0;
    background-size: cover;
  }

  #line-svg {
    top: 0%;
    
    left: 0%;
  }

  .b-hsect-abs-svg {
    max-width: 1600px;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%)
  }

  .video-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  .video {
    height: 100vh;
    width: 100%;
    background: url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center;
    background-size: cover;
  }
  
  .past-threshold .trailer {
    position: absolute;
    height: 100vh;
  }

  
  .content {
    /* pushs content below header hero & trailer (should equal trailer height after threshold) */
    padding-top: 200vh;
  }
  .section {
    height: 75vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .section:nth-child(2n) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
  }
  .section h2 {
    font-size: 80px;
    font-weight: lighter;
  }
  
  @media (max-width: 1000px) {
    .hero h1 {
      font-size: 90px;
    }
  }
  @media (max-width: 760px) {
    .hero h1 {
      font-size: 60px;
    }
  }
  @media (max-width: 510px) {
    .hero h1 {
      font-size: 40px;
    }
  }