@font-face {
    font-family: 'Open Sans';
    src: url(../media/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans-Bold';
    src: url(../media/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans-Light';
    src: url(../media/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open Sans-SemiBold';
    src: url(../media/fonts/OpenSans-Semibold.ttf);
}

.d-none {
    display: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .advantage-tabs__item--w100 {
    cursor: pointer;
  }

body.advantage-class * {
    font-family: 'Open Sans';
   
}

.advantage-class .d-flex {
    display: flex;
}

.advantage-class .bh-section-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.advantage-class .bh-section-svg path {

    height: 700vh;
}

.advantage-class .bh-section {
    height: 700vh;
    position: relative;
    z-index: 2;
}

.advantage-class .bh-section--abs {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.advantage-class .bh-section__item .container .row {
    align-items: center;
    display: flex;
}

.advantage-class .bigIcon-frst-line {
    position: absolute;
    height: 1px!important;
    bottom: -45%;
    transform: rotate(51deg);
    right: -123%;
}

.advantage-class .bigIcon-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(61deg);
    bottom: -62%;
    left: 5%;
}

.advantage-class .bigIcon-2-frst-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(-45deg);
    top: -39%;
    left: 57%;
}

.advantage-class .bigIcon-2-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(-9deg);
    left: 88%;
    top: 21%;
}

.advantage-class .bigIcon-3-frst-line {
    position: absolute;
    height: 1px!important;
    transform:rotate(109deg);
    bottom: -70%;
    right: -6%;
}

.advantage-class .bigIcon-3-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(61deg);
    bottom: -359px;
    left: 153px;
}

.advantage-class .bigIcon-4-frst-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(100deg);
    top: 170%;
    right: -23%;
}

.advantage-class .bigIcon-4-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(60deg);
    top: 150%;
    right: -105%;
}

.advantage-class .bigIcon-6-frst-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(-149deg);
    right: 68%;
    top: -14%;
}

.advantage-class .engen-icon-markets {
    top: -80%;
    left: 83%;
}

.advantage-class .bigIcon-6-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(-199deg);
    bottom: 1%;
    right: 77%;
}

.advantage-class .bigIcon-5-frst-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(-122deg);
    right: 21%;
    top: -62%;
}

.advantage-class .bigIcon-5-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(-157deg);
    bottom: 566px;
    right: 440px;
}

.advantage-class .animated-long-line {
    position: absolute;
    height: 1px;
    left: 50%;
    top: 20%;
    transform: rotate(-7deg);
}

.advantage-class .animated-long-line-2 {
    position: absolute;
    height: 1px;
    transform: rotate(10deg);
    top: 70%;
    left: 92%;
}

.advantage-class .animated-long-line-3 {
    position: absolute;
    height: 1px;
    top: 107%;
    left: 65%;
    transform: rotate(35deg);
}

.advantage-class .animated-long-line-4 {
    position: absolute;
    height: 1px;
    bottom: -50%;
    right: 35%;
    transform: scaleX(-1) rotate(55deg);
}

.advantage-class .animated-long-line-5 {
    position: absolute;
    height: 1px;
    bottom: 25%;
    right: 65%;
    transform: scaleX(-1) rotate(7deg);
    /* display: none; */
}

.advantage-class .animated-long-line-6 {
    position: absolute;
    height: 1px;
    bottom: 55%;
    right: 65%;
    transform: scaleX(-1) rotate(-6deg);
}

.advantage-class .bigIcon-7-frst-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(112deg);
    bottom: -61%;
    right: 14%;
}

.advantage-class .bigIcon-7-scnd-line {
    position: absolute;
    height: 1px!important;
    transform: rotate(135deg);
    bottom: -35%;
    right: 62%;
}

.advantage-class .fade {
    transition: opacity 0.5s ease-in;
}
  
.advantage-class .fadeOut { 
    opacity: 0; 
}

.advantage-class .fadeIn { 
    opacity: 1; 
}

.icon-wrapper .scale {
    position: relative;
    height: 100%;
    width: 100%;
}

.advantage-class .scale {
    /* transition: scale 1s linear; */
    transition: 1s linear;
}
  
.advantage-class .scaleOut { 
    transform: scale(.7);
    opacity: 0;    
}

.advantage-class .scaleIn { 

    transform: scale(1);
    opacity: 1;  
}

  .advantage-class .bh-section__item {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.advantage-class .panel .col-md-6 {
    display: flex;
    justify-content: flex-end;
}

.advantage-class .panel .flex-jcfe {
    display: flex;
    justify-content: flex-start;
}

.advantage-class .container.fade {
    max-width: 1070px;
    width: 100%;
    top:50%;
}

.advantage-class .container.fade .row {
    display: flex;
    align-items: center;
}

.advantage-class .container-obs {
    height: 350vh;

}

.advantage-class .container-fixed-obs {
    position: fixed;
    width: 100%;
}

.advantage-class .container-fixed-abs--non-fixed {
    position: static;
}

.advantage-class .clearHeader {
    position: absolute!important;
}

.advantage-class .align-items-center {
    align-items: center;
}

.advantage-class .mb-0 {
    margin-bottom: 0 !important;
}

.advantage-class .jcc {
    justify-content:center;
}

.advantage-class .align-items-end {
    align-items: flex-end;
}

.advantage-class .w-100 {
    width: 100%;
}

.advantage-class .pos-rel {
    position: relative;
}

.advantage-class a:hover {
    text-decoration: none;
}

.advantage-class h1, .advantage-class h2, .advantage-class h3, .advantage-class h4, .advantage-class h5, .advantage-class h6, .advantage-class p, .advantage-class ul {
    margin: 0;
    padding: 0;
}

.advantage-class .jcfs {
    justify-content: flex-start!important;
}

.advantage-class li {
    list-style-type: none;
}

.advantage-class .flex-column {
    flex-direction: column;
}

.advantage-class .jcsb {
    justify-content: space-between;
}

.advantage-class .fixed-top-sect {
    height: 50px;
    top: 0;
    width: 100%;
    position: fixed;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #5A5A5A;
    align-items: center;
    z-index: 3;
    
}

.advantage-class .container.hiden-elem .row {
    display: flex;
    align-items: center;
}

.advantage-class .icon-wrapper .connecting-line {
    position: absolute;
    max-height: unset;
    height: unset;
}

.advantage-class .hiden-elem {
    transition: .4s;
    opacity: 0;
}

.advantage-class .fixed-top-sect-f {
    position: static
}

.advantage-class .fixed-top-sect--left {
    font-family: 'Open Sans-Bold';
    font-size: 16px;
    line-height: 38px;
    color: #fff;
}

.advantage-class .scroll-top {
   margin-right: 125px;
}

.advantage-class .capabilities-bl {
    position: relative;
}

.advantage-class .capabilities-bl ul {
    opacity: 0;
    visibility: hidden;
    padding: 15px 20px;
    transition: .2s;
    background-color: #393939;
    position: absolute;
    top: 35px;
    left: 50%;
    min-width: 258px;
    transform: translateX(-50%);
}

.advantage-class .capabilities-bl:hover ul {
    opacity: 1;
    visibility: visible;
}

.advantage-class .fixed-top-sect--right ul li, .advantage-class .fixed-top-sect--right ul li a {
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    display: flex;
    align-items: center;
}

.advantage-class .fixed-top-sect--right>ul>li>a {
   padding-left: 22px;
   padding-right: 22px;
}

.advantage-class .capabilities-bl {
    margin-right: 22px;
}

.advantage-class .fixed-top-sect--right>ul>li>a.connect {
    background-color: #87BA34;
    font-family: 'Open Sans-Bold'; 
    margin-left: 22px;
}

.advantage-class .panels-bg-f {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000045;
}

.advantage-class .banner-sect {
    height: calc(90vh - 54px);
    position: absolute;
    width: 100%;
    background-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transition: 1.5s linear;
    opacity: 1;
    visibility: visible;
    z-index: 22;
    top: 0px;
}


.advantage-class .banner-sect-hide {
   top:-100%;
}

.advantage-class .banner-sect-content h1 {
    font-family: 'Open Sans-Bold';
    font-size: 42px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.advantage-class .banner-sect-content p {
    color: #fff;
    font-size: 28px;
    line-height: 32px;
}

.advantage-class .banner-sect-content a {
    background-color: #87BA34;
    width: 233px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans-Bold';
    font-size: 18px;
    color: #fff;
    transition: .2s;
    border: none;
}

.advantage-class .banner-sect-content {
    position: relative;
}

.advantage-class .video-sect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;object-fit: cover;
}

.advantage-class .modal-bannersect button.close {
    color: #fff;
    opacity: 1;
    font-family: 'Open Sans-Light';
    font-size: 39px;
    position: absolute;
    top: 6px;
    left: 15px;
    z-index: 2;
}

.advantage-class .modal-bannersect .modal-body {
    padding: 0;
    position: relative;
}

.advantage-class .modal-bannersect .modal-body video {
    width: 100%;
    display: block;
}

.advantage-class .modal-bannersect .modal-dialog {
    width: 60%;
    top: 50%;
    transform: translateY(-50%)!important;
}

.advantage-class .img-bg-abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0vh;
    left: 0;
    max-height: 100vh;
    z-index: 2;
}

.advantage-class .img-bg-bottom-abs {
    width: calc(100% + 80px);
    bottom: -50vh;
    transition: bottom 0.4s linear;
    position: absolute;
    left: -40px;
    margin-bottom: -20px;
}

.advantage-class .img-bg-bottom-abs img {
    width: 100%;
}

.advantage-class .build-it-section {
    width: 100%;
    padding-top: 160px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.advantage-class .non-pr {
    position: relative;
}

.advantage-class .icon-cont-abs {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.advantage-class #panel-2 .icon-cont-abs, 
.advantage-class #panel-5 .icon-cont-abs,
.advantage-class #panel-7 .icon-cont-abs {
    margin-top: -15vh;
}

.advantage-class #panel-3 .icon-cont-abs,
.advantage-class #panel-6 .icon-cont-abs {
    margin-top: 15vh;
}

.advantage-class .icon-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.advantage-class .icon-wrapper img {
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-height: 80vh;
    height: 100%;
    max-width: 570px;
    width: 100%;
}

.advantage-class .icon-wrapper svg {
    max-height: 80vh;
    height: 100%;
}

.advantage-class .position_big-image {
    width: 100%;
}

.advantage-class .main-subtitle {
    color: #fff;
    font-size: 42px;
    font-family: 'Open Sans-Bold';
    line-height: 48px;
    margin-bottom: 1.2vw;
}

.advantage-class .case-study-section {
    position: relative;
    background-color: #000;
    overflow: hidden;
    padding-top: 122px;
    background-image: url(../media/images/case-study-bg.svg); 
    background-repeat: no-repeat;
    background-position-y: 330px;
    background-size: cover;
    padding-bottom: 150px;
    z-index: 2;
}

.advantage-class .main-container {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.eco-hide-scroll-img {
    opacity: 0;
    transition: 0.8s linear!important;
    position: relative;
    left: 0;
    transform: scale(1);
    top: 14%;
}

.eco-hide-scroll-img.eco-hide-scroll-img__scroll {
    left: 43vw;
    transform: scale(1.9);
    opacity: 1;
}

.eco-hide-scroll-img__scroll-stt {
    left: 43vw;
    opacity: 0;
}

.eco-hide-scroll {
    opacity: 0;
    transition: .2s;;
}

.eco-hide-scroll-img  {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.eco-hide-scroll-static {
    opacity: 0;
    transition: .2s;
}

.advantage-class .engenering-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 527px;
    margin-left: auto;
    margin-right: auto;
}

.advantage-class .engenering-section h2 {
    color: #fff;
    font-family: 'Open Sans-Bold';
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.advantage-class .engenering-section p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.advantage-class .engenering-section--container {
    max-width: 527px;
    position: relative;
    opacity: 0;
    transition: 1s;
}

.advantage-class .engenering-section p:last-child {
    margin-bottom: 0;
}

.advantage-class .main-p {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 1vw;
}

.mobile-sections {
    display: none;
}

.advantage-class .build-it-section--container {
    width: 100%;
    margin-left: auto;
    transition: .1s;
    margin-right: auto;
    position: relative;
    opacity: 1;
    max-width: 991px;
}

.advantage-class .build-it-section--container>div {
    max-width: 596px;
}

.advantage-class .text-link {
    font-family: 'Open Sans-Bold';
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    display: block;
}

.advantage-class .build-it-section--abs {
    position: absolute;
    right: -297px;
    top: -270px!important
}

.advantage-class .case-study-section--green-title {
    color: #87BA34;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    font-family: 'Open Sans-Bold';
}

.advantage-class .case-study-section__p {
   font-size: 22px;
   line-height: 30px;
   color: #fff; 
}

.advantage-class .case-study__item__title {
    color: #87BA34;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans-Semibold';
    margin-bottom: 10px;
}

.advantage-class .case-study__item .bottom-text {
    font-size: 16px;
    font-family: 'Open Sans-Bold';
    line-height: 20px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    transition: .2s;
}

.advantage-class .case-study__item .bottom-text:hover {
    color: #87BA34;
}

.advantage-class  .modal-case-studies__ul {
    padding-right: 35px;
}

.advantage-class .modal-case-studies__ul li.modal-case-studies__bl--txt {
    list-style-type: disc;
    margin-bottom: 10px;
}

.advantage-class .case-study__item {
    max-width: 617px;
    position: relative;
    margin-bottom: 80px;
    cursor: pointer;
    width: 100%;
}

.advantage-class .case-study__item__main-img {
    width: 100%;
}

.advantage-class .case-study__item__abs {
    position: absolute;
    top: -23px;
    z-index: 2;
    right: 0;
}

.advantage-class .case-study__item__img-block {
    position: relative;
}

.advantage-class .case-study__item__img-block p {
    color: #fff;
    width: 100%;
    max-width: 339px;
    left: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    line-height: 32px;
}

.advantage-class .modal-case-studies .modal-dialog {
    width: 100%;
    max-width: 1100px;
    margin-top: 80px;
    
}

.advantage-class .modal-case-studies .modal-body {
    padding: 0;
    background-color: #383838;
}

.advantage-class .modal-case-studies__main-image {
    width: 100%;
}

.advantage-class .modal-case-studies .close {
    position: absolute;
    right: 17px;
    top: 17px;
    opacity: 1;
}

.advantage-class .modal-case-studies__wrapper {
    padding-top: 60px;
    padding-right: 95px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
    position: relative;
}

.advantage-class .modal-case-studies__wrapper__abs {
    position: absolute;
    min-height: 87px;
    top: -43px;
    right: 47px;
}

.advantage-class .modal-case-studies__bl {
    max-width: 714px;
    width: 100%;
}

.advantage-class .modal-case-studies__bl--title {
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    max-width: 540px;
    margin-bottom: 35px;
}

.advantage-class .modal-case-studies__bl--title--green {
    color: #87BA34;
    font-size: 26px;
    font-family: 'Open Sans-Bold';
    font-size: 26px;
    margin-bottom: 30px;
}

.advantage-class .modal-case-studies__bl--txt {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 35px;
}

.advantage-class .animation-styling {
    opacity: 1;
    transition: .3s linear;
}

.advantage-class .animation-styling.animation-styling--hide {
    opacity: 0;
}

.advantage-class .trailer-hidden {
    opacity: 1;
}

.advantage-class .modal-case-studies__bl--txt span {
    font-family: 'Open Sans-Bold';
}

.advantage-class .modal-case-studies__bl--txt span a {
    text-decoration: underline;
    color: #fff;
}

.advantage-class .modal-case-studies__text-oriented {
    color: #87BA34;
    font-size: 100px;
    font-family: 'Open Sans-Light';
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    top: 52px;
    text-transform: uppercase;
    left: 15px
}

.advantage-class .load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 49px;
    background-color: #86BC25;
    color: #fff;
    font-family: 'Open Sans-Bold';
    font-size: 16px;
}

.advantage-class .col-w-mrg-cstm {
    margin-top: 145px;
}

.advantage-class .advantage-tabs-top p {
    font-family: 'Open Sans-Light';
    font-size: 16px;
    line-height: 36px;
    color: #fff;
}

.advantage-class .advantage-tabs-top {
    justify-content: space-between;
}

.advantage-class .advantage-tabs-top .nav-tabs {
    border: 0;
}

.advantage-class .advantage-tabs-top .nav-tabs>li {
    margin-right: 52px;
}

.advantage-class .advantage-tabs {
    margin-top: 50px;
}

.advantage-class .advantage-tabs .tab-content {
    margin-top: 22px;  
}

.advantage-class .advantage-tabs-top .nav-tabs>li>a {
    padding: 0px 33px;
    height: 36px;
    align-items: center;
    display: flex;
    font-family: 'Open Sans-Bold';
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
}

.advantage-class .advantage-tabs-top .nav-tabs>li.active>a {
    border: 1px solid #87BA34;
    background-color: transparent;
}

.advantage-class .advantage-tabs-top .nav-tabs>li>a:hover {
    border: 1px solid #87BA34;
    background-color: transparent;
    color: #fff;
}

.advantage-class .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    color: #fff;
}

.advantage-class .advantage-tabs__cont {
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.advantage-class .advantage-tabs__cont:after {
    content: "";
    width: 100%;
    background-color: #000;
    left: 0;
    height: 100%;
    top: 0;
    position: absolute;
    opacity: .4;
}

.advantage-class .advantage-tabs__cont img {
    width: 100%;
    transition: .5s;
    min-height: 266px;
    object-fit: cover;
    transform: scale(1)
}

.advantage-class .carousel-indicators {
    bottom: -45px;
}

.advantage-class .advantage-tabs__cont:hover img {
    transform: scale(1.2)
} 

.advantage-class .advantage-tabs__cont p {
    position: absolute;
    font-size: 28px;
    line-height: 30px;
    z-index: 2;
    color: #fff;
    width: 100%;
    left: 45px;
    max-width: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.advantage-class .advantage-tabs__cont p span {
    display: block;
}

.advantage-class .advantage-tabs__item .news-link-white {
    color: #fff;
    font-family: 'Open Sans-Bold';
    font-size: 16px;
    line-height: 20px;
    display: flex;
    transition:.2s;
    cursor: pointer;
    margin-top: 15px;
}

.advantage-class .advantage-tabs__item .news-link-white:hover {
    color: #87BA34;
}

.advantage-class .advantage-tabs__item--w100 .advantage-tabs__cont p {
    max-width: 514px;
}

.advantage-class .advantage-tabs__item {
    margin-bottom: 52px;
    display: block;
    width: 48%;
}

.advantage-class .advantage-tabs__item--w100 {
    width: 100%;
}

.advantage-class .advantage-modal {
    padding: 50px 30px 50px 30px; 
}

.advantage-class .advantage-modal__left {
    width: 100%;
    padding-right: 20px;
}

.advantage-modal__left iframe {
    width: 100%;
}

.advantage-class .advantage-modal__right {
    min-width: 257px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 257px;
}

.advantage-class .advantage-modal__right__title {
    color: #87BA34;
    font-family: 'Open Sans-Bold';
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 13px;
}

.advantage-class .modal-case-studies .modal-dialog-advantage {
    top: 50%;
    transform: translateY(-50%)!important;
    margin-top: 0;
}

.advantage-class .advantage-modal__right__decription {
    font-family: 'Open Sans-Light';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.advantage-class .advantage-modal__right__txt {
    font-size: 16px;
    font-family: 'Open Sans-Bold';
    line-height: 20px;
    color: #fff;
    transition: .2s;
    margin-top: 20px;
}

.advantage-class .advantage-modal__right__txt:hover {
    color: #87BA34
}

.advantage-class .advantage-modal__left video {
    width: 100%;
}

.advantage-class .slider-main-img {
    position: relative;
}

.advantage-class .exploration-sect__container {
    max-width: 1070px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.advantage-class .slider-main-abs__name {
    font-family: 'Open Sans-Bold';
    font-size: 20px;
    line-height: 22px;
    color: #fff;
}

.advantage-class .slider-main-abs__pos {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.advantage-class .slider-main-abs {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    left: 20px;
    background-color: #00000094;;
    padding: 35px 20px 30px 20px;
}

.advantage-class .slider-main-abs__pos-mt-5 {
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.advantage-class .slider-main-abs__pos-mt-5 span {
    height: 30px;
    opacity: 0;
    display: flex;
}

.advantage-class .slider-main-img:hover .slider-main-abs__pos-mt-5 {
    height: 100%;
}

.advantage-class .human-exploration-sect {
    background-color: #000;
    padding-top: 0;
    background-image: url(../media/images/background-sect-img.png);  
    background-position: bottom;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;

}

.advantage-class .exploration-sect__txt {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    max-width: 519px;
    margin-bottom: 87px;
}

.advantage-class .build-the-future-sect {
    height: 357px;
    display: flex;
    align-items: center;
    background-image: url(../media/images/build-the-future.png);
    background-size: cover;
    background-position: center;
}

.advantage-class .the-future-cont {
    max-width: 1070px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.advantage-class .icons-abs-case-studies {
    display: flex;
    position: absolute;
    z-index: 2;
    right: 0;
    top: -11px;
}

.advantage-class .modal-case-studies__wrapper .icons-abs-case-studies {
    top: -40px;
    right: 40px;
}

.advantage-class .icons-abs-case-studies img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    margin-right: 20px;
}

.advantage-class .icons-abs-case-studies img:last-child {
    margin-right: 0;
}

.advantage-class .the-future-cont__title {
    font-size: 28px;
    font-family: 'Open Sans-Bold';
    line-height: 32px;
    color: #fff;
    margin-bottom: 35px;
}

.advantage-class .modal-case-studies__ul {
    padding-left: 35px;
    padding-right: 0;
}

.advantage-class .the-future-cont__wrapper {
    display: flex;
    flex-direction: column;
}

.advantage-class .the-future-cont__wrapper p {
    font-size: 22px;
    line-height: 32px;
    width: 100%;
    max-width: 549px;
    color: #fff;
}

.advantage-class .the-future-cont__wrapper a {
    color: #fff;
    display: flex;
    background-color: #86BC25;
    justify-content: center;
    width: 215px;
    height: 49px;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans-Bold';
    transition: .2s;
    margin-top: 20px;
}

.advantage-class .the-future-cont__wrapper a:hover {
    background-color: #69a106;
}

.advantage-class .case-studies__element {
    position: absolute;
    top: 290px;
}

.advantage-class .build-the-future-sect {
    margin-bottom: 0px;
}

.advantage-class .the-future-cont__wrapper h5 {
    font-size: 28px;
    font-family: 'Open Sans-Bold';
    line-height: 32px;
    color: #fff;
    max-width: 347px;
}

.advantage-class .bottom-sect-abs {
    position: absolute;
    bottom: 0px;
    right: -400px;
    animation: spin 30s linear 0s infinite;  
}

.advantage-class .case-studies__element{
    animation: spin 30s linear 0s infinite;  
    position: absolute;
}

.advantage-class .seven-element-sect {
    display: none;
}

.advantage-class .full-screen {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.advantage-class .panel.full-screen {
    overflow: visible;
}
  
.advantage-class   #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.advantage-class  #masthead {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
}

.advantage-class  #masthead a {
    padding: 1rem 2rem;
}

.advantage-class  #panels {
    position: relative;
    z-index: 2;
    background-image: url(../media/images/engereing-bg.png);
    background-size: cover;
    background-attachment: fixed;
}

.advantage-class .flex-posabs {
    position: absolute;
}
  
.advantage-class  .panels-title {
    font-family: 'Open Sans-Bold';
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    margin-bottom: 15px;
}

.advantage-class .container-align {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    max-width: unset
}

.advantage-class .non-pr {
    padding-right: 0;
}

.advantage-class .height-aut-100 {
    height: 100%;
}

.advantage-class .container-align .row {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
}

.advantage-class .panels-txt {
    color: #fff;
    font-size: 16px;
    max-width: 413px;
    line-height: 24px;
    transition: .2s;
}

.advantage-class .panel {
    background-color: unset;
}
  
.advantage-class #panels .panels-container {
    height: 100%;
    width: 100%;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; */
    position: relative;
    padding: 0;
    overflow: visible;
    background-color: transparent;

}

.advantage-class #panels .panels-container .pin-wrap,
.advantage-class #panels .panels-container .seven-icons-container {
    position: relative;
    z-index: 1;  
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.advantage-class .panel-container__abs {
    position: fixed;
    width: 100vw;
    background-size: 100% 100%;
    height: 100vh;
}

.advantage-class #panels .panels-container .panel, .advantage-class #panels1 .panels-container1 .panel {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    text-align: left;
    background-size: cover;
}

.advantage-class #panels .panels-container .panel img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
}

.advantage-class .pl-rpoce {
    padding-left: 20%;
}

.advantage-class #panels .panels-container .panel .panels-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #panels .panels-container .panel .anchor-panel,
  #panels .panels-container .panel .nav-panel {
    color: #000;
    text-transform: uppercase;
    margin-right: 2rem;
  }
  #panels .panels-container .panels-navigation {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    right: 2rem;
  }

  .position-longline, .position-longline2, .position-longline3, .position-longline4, .position-longline5, .position-longline6 {
    top: 42%;
    left: 70%;
    transform: rotate(-30deg) translate(61%, 0%);
  }

  .position-longline2 {
    left: 75%;
    transform: rotate(-4deg) translate(14%, 4%)
  }

  .position-longline4 {
    top: 4%;
    left: 57%;
  }

  .position-longline5 {
    transform: rotate(-16deg) translate(36%, 1%)
  }

  .position-longline6 {
    transform: rotate(-55deg) translate(99%, -9%);
  }

  .position-longline3 {
    transform: rotate(-71deg) translate(145%, 8%);
  }
  
  .bowspin-class {
    animation: bowspin 100s linear infinite;
  }

  .group-roatate2 {
    animation: bowspin1 100s linear infinite;
  }
  .opacity-anim {
      animation: opac 3s ease-in-out infinite;
  }
/* 
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} */
@-webkit-keyframes bowspin {
    0% {
      transform: rotate(0deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    100% {
      transform: rotate(360deg);
      transform-origin: center;
      transform-box: fill-box;
    }
  }

  @-webkit-keyframes bowspin1 {
    0% {
      transform: rotate(0deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    100% {
      transform: rotate(-360deg);
      transform-origin: center;
      transform-box: fill-box;
    }
  }

  @-webkit-keyframes opac {
    0% {
     opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .cks-anuma {
      animation: translate 10s linear infinite;
  }

  @-webkit-keyframes translate {
    0% {
     transform:translate(0, 0)
    }
    50% {
        transform:translate(23px, -29px)
    }
    100% {
        transform: translate(0, 0)
    }
  }

.bow {
    -webkit-animation: bowspin 1.3s infinite;
    transform-origin: bottom center;
    animation: bowspin 30s infinite;
    -webkit-animation-timing-function: linear;
  }

.bow-2 {
    -webkit-animation: bowspin1 1.3s infinite;
    transform-origin: top center;
    animation: bowspin1 50s infinite;
    -webkit-animation-timing-function: linear;
}

.transform-next-sect {
    height: 221px;
    display: none;
    align-items: center;
    background-image: url(../media/images/transform.png);
    background-size: cover;
    background-position: center;
}

.hero {
    height: calc(100vh + 2px);
    width: calc(100% + 2px);
    position: fixed;
    z-index: var(--hero-z-index);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 21;
  }
  .hero__top {
    width: 100%;
    height: 60%;
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__bottom {
    width: 100%;
    background: #fff;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  .hero__top .filler {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .filler-white {
    background-color: #fff;
  }
  .hero__illustration {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__illustration .filler:first-child {
    padding-top: 200px;
  }
  .hero-icon {
    width: 200px;
    height: 200px;
    background: transparent;
    margin: 0 auto;
    -webkit-clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
            clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
  }
  
  .hero h1 {
    font-size: 120px;
    font-weight: lighter;
    margin: 0;
    opacity: 1;
  }
  
  .advantage-class .trailer {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 222;
    background-color: transparent;
  }
  .video-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  .video {
    height: 100vh;
    width: 100%;
    background: url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center;
    background-size: cover;
  }
  
  .past-threshold .trailer {
    position: absolute;
    height: 200vh;
    z-index: 2;
  }
  
  .engen-icon {
      position: absolute;
      width: 100%;
      max-width: 320px;
  }
  
  .engen-icon svg circle {
      transition: .2s;
  }
  
  .engen-icon p {
      text-transform: uppercase;
      font-size: 14px!important;
      line-height: 20px!important;
      position: relative;
      transition: .2s;
      text-align: center;
  }
  
  .engen-icon:hover p {
      color: #87BA34
  }
  
  .engen-icon svg path, .engen-icon svg polyline, .engen-icon svg line, .engen-icon svg polygon {
      transition: .2s;
  }
  
  .engen-icon:hover svg path, .engen-icon:hover svg polyline, .engen-icon:hover svg line {
      stroke: #87BA34
  }
  
  .engen-icon:hover svg path, .engen-icon:hover svg polygon {
      fill: #87BA34
  }
  
  .engen-icon-platforms {
      top: -83%;
  }
  
  .engen-icon-innovation {
      left: -54%;
      top: 18%;
  }
  
  .engen-icon-platforms p, .advantage-class .engen-icon-markets p {
      top: 100px;
  }
  
  .engen-icon-innovation p {
      top: 125px;
  }
  
  .engen-icon-gen {
      left: -75%;
      top: 27%;
  }
  
  .engen-icon-gen p, .engen-icon-data p, .engen-icon-talent p, .engen-icon-tech p {
      max-width: 100px;
      margin: 0 auto;
      top: -104px;
  }
  
  .engen-icon-tech p, .engen-icon-talent p {
      max-width: 100%;
  }
  
  .engen-icon-data {
      left: -43%;
      top: 94%;
  }
  
  .engen-icon-data p {
      max-width: 245px;
  }
  
  .engen-icon-tech {
      top: 113%;
      left: 62%;
  }
  
  .engen-icon-talent {
      left: 117%;
      top: 14%;
  }
  
  .content {
    /* pushs content below header hero & trailer (should equal trailer height after threshold) */
    padding-top: 200vh;
  }
  .section {
    height: 75vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .section:nth-child(2n) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
  }
  .section h2 {
    font-size: 80px;
    font-weight: lighter;
  }
  
  :root {
      /* z-indexes */
      --hero-z-index: 2;
      --trailer-z-index: 1;
    }
    
    * {
      -webkit-box-sizing: inherit;
              box-sizing: inherit;
    }
    
    body {
      font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      margin: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
    }
    
    .hero {
      height: calc(100vh + 2px);
      top: 0;
      width: calc(100% + 2px);
      position: fixed;
      z-index: 21;
      background-color: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      transition: .2s;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  
    .sticky-sect-cont {
        position: relative;
        height: 200vh;
        width: 100%;
    }
    .hero__top {
      width: 100%;
      height: 60%;
      min-height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .hero__bottom {
      width: 100%;
      background: #fff;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hero__top .filler {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    .filler-white {
      background-color: #fff;
    }
    .hero__illustration {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .hero__illustration .filler:first-child {
      padding-top: 200px;
    }
    .hero-icon {
      width: 200px;
      height: 200px;
      background: transparent;
      margin: 0 auto;
      -webkit-clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
              clip-path: polygon(0 0, 50% 50%, 100.5% 0, 100.5% 100%, 50% 50%, 0 100%);
    }
    
    .hero h1 {
      font-size: 120px;
      font-weight: lighter;
      margin: 0;
      opacity: 1;
    }
    
    .advantage-class .trailer {
      position: fixed!important;
      top: 0;
      height: 100vh;
      width: 100%;
      z-index: var(--trailer-z-index);
      background-color: transparent;
      top: 0;
      background-size: cover;
      visibility: visible;
      z-index: 22222;
      transition: .2s;
    }
  
    .advantage-class .trailer-hide {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  
    #line-svg {
      top: 0%;
      
      left: 0%;
    }
  
    .b-hsect-abs-svg {
      max-width: 1600px;
      width: 100%;
      position: absolute;
      height: 100%;
      left: 50%;
      transform: translateX(-50%)
    }
  
    .video-wrapper {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
    }
    .video {
      height: 100vh;
      width: 100%;
      background: url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center;
      background-size: cover;
    }
    
    .past-threshold .trailer {
      position: absolute;
      height: 100vh;
    }
  
    
    .content {
      /* pushs content below header hero & trailer (should equal trailer height after threshold) */
      padding-top: 200vh;
    }
    .section {
      height: 75vh;
      display: -ms-grid;
      display: grid;
      place-items: center;
    }
    .section:nth-child(2n) {
      background-color: #000;
      color: #fff;
      font-weight: bold;
    }
    .section h2 {
      font-size: 80px;
      font-weight: lighter;
    }
    


@media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
  
  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33.3333333%, 0, 0);
        transform: translate3d(33.3333333%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-33.3333333%, 0, 0);
        transform: translate3d(-33.3333333%, 0, 0);
    }
  }
  @media (min-width: 992px ) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33.3333333%, 0, 0);
        transform: translate3d(33.3333333%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-33.3333333%, 0, 0);
        transform: translate3d(-33.3333333%, 0, 0);
    }
    
  }

@media only screen and (max-width: 1400px) {

    .advantage-class .icon-wrapper img {
        width: 100%!important;
        max-width: 350px!important;
    }

    .engen-icon-data {
        left: 2%;
        top: 65%;
    }

    .engen-icon-tech {
        left: 54%;
        top: 79%;
    }

    .engen-icon-talent {
        top: 31%;
        left: 100%;
    }

    .icon-wrapper>div>svg{
        max-width: 350px!important;
        width: 100%!important;
    }

    .icon-wrapper>div {
        display: flex;
        justify-content: center;
    }

    .advantage-class .banner-sect-content h1 {
        font-size: 32px;
        line-height: 40px;
    }
    
    .advantage-class .banner-sect-content p {
        font-size: 20px;
        line-height: 28px;
    }

    .advantage-class .main-subtitle {
        font-size: 32px;
        line-height: 40px;
    }

    .advantage-class .main-p {
        font-size: 14px;
        line-height: 20px;
    }

    .advantage-class .text-link {
        font-size: 14px;
        line-height: 20px;
    }

    .advantage-class .build-it-section--abs {
        right: -157px;
        top: -333px!important;
        max-width: 401px;
    }

    .advantage-class .engenering-section h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .advantage-class .engenering-section p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .engen-icon {
        max-width: 250px;
    }

    .engen-icon-platforms {
        top: -70%;
    }

    .engen-icon-platforms p, .advantage-class .engen-icon-markets p {
        top: 87px;
    }

    .engen-icon-gen {
        left: -40%;
        top: 40%;
    }

    .advantage-class .panels-title {
        font-size: 22px;
        line-height: 28px;
    }

    .advantage-class .bigIcon-2-frst-line {
        left: 49%;
        top: -66%;
    }

    .advantage-class .bigIcon-4-frst-line {
        top: 212%;
        right: -22%;
    }

    .advantage-class .animated-long-line-4 {
        bottom: -73%;
    }

    .advantage-class .animated-long-line-5 {
        right: 73%;
    }

    .advantage-class .bigIcon-5-frst-line {
        transform: rotate(-168deg);
        top: 5%;
        right: 76%;
    }

    .advantage-class .bigIcon-5-scnd-line {
        bottom: 510px;
        right: 276px;
    }

    .advantage-class .bigIcon-4-scnd-line {
        top: 183%;
        right: -107%;
    }

    .advantage-class .animated-long-line-3 {
        top: 135%;
        left: 60%;
    }

    .advantage-class .bigIcon-3-scnd-line {
        bottom: -79%;
        left: 227px;
        transform: rotate(49deg);
    }

    .advantage-class .bigIcon-3-frst-line {
        bottom: -111%;
        right: -2%;
    }

    .advantage-class .animated-long-line-2 {
        top: 101%;
        left: 69%;
    }

    .advantage-class .bigIcon-2-scnd-line {
        left: 75%;
        top: 33%;
    }

    .advantage-class .panels-txt {
        font-size: 14px;
        line-height: 20px;
        max-width: 350px;
    }

    .advantage-class .animated-long-line {
        left: 76%
    }

    .advantage-class .case-study-section--green-title, .advantage-class .advantage-tabs__cont p {
        font-size: 24px;
        line-height: 24px;
    }

    .advantage-class .case-study__item__img-block p {
        font-size: 24px;
        line-height: 28px;
    }

    .advantage-class .case-study-section__p {
        font-size: 18px;
        line-height: 24px;
    }

    .advantage-class .bigIcon-7-scnd-line {
        bottom: -36%;
        right: 47%;
    }

    .advantage-class .case-studies__element {
        width: 450px;
        top: 200px;
    }

    .carousel {
        max-width: 890px;
        margin-left: auto;
        margin-right: auto;
    }

    .advantage-class .bigIcon-7-frst-line {
        bottom: -109%;
        right: 14%;
    }

    .advantage-class .animated-long-line-6 {
        bottom: 63%;
        right: 75%;
    }

    .advantage-class .bigIcon-6-frst-line {
        right: 58%;
    }

    .advantage-class .bigIcon-scnd-line {
        bottom: -102%;
        left: 18%;
    }

    .advantage-class .bigIcon-6-scnd-line {
        bottom: -23%;
        right: 59%;
    }

    .advantage-class .bigIcon-frst-line {
        bottom: -72%;
        right: -111%;
    }

    .engen-icon-innovation p {
        top: 102px;
    }

    .engen-icon-innovation {
        top: 7%;
        left: -49%;
    }

    .engen-icon-gen p, .engen-icon-data p, .engen-icon-talent p, .engen-icon-tech p {
        top: -85px;
    }

    .advantage-class .engen-icon-markets {
        top: -69%;
    }

    .advantage-class .engenering-section {
        padding-top: 50px;
    }

}
  
@media only screen and (max-width: 1200px) {

    .fixed-top-sect {
        display: none;
    }

    .banner-sect {
        margin-top: 0;
        height: auto;
        min-height: 100vh;
    }

    .human-exploration-sect .carousel {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }

    .banner-sect-content p {
        text-align: center;
    }

    .build-it-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .case-study__item {
        max-width: 100%;
        margin-top: 50px;
    }

    .advantage-tabs-top {
        flex-wrap: wrap;
    }

    .advantage-tabs-top p {
        width: 100%;
        margin-bottom: 15px;
    }

    .main-container {
        width: 100%;
    }

    .case-study-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .advantage-tabs-top .nav-tabs>li {
        margin-right: 25px;
    }

    .build-the-future-sect, .transform-next-sect {
        padding-left: 30px;
        padding-right: 30px;
    }

    .human-exploration-sect {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media only screen and (max-width: 991px) {

    .seven-element-sect {
        display: block;
        background-image: url(../media/images/elements-seven-bg.png);
        padding: 65px 0 135px 0;
        background-size: cover;
    }

    .modal-case-studies__text-oriented {
        position: static;
        transform: none;
        writing-mode: horizontal-tb;
        text-align: center;
        font-size: 60px;
        padding-top: 30px;
        margin-bottom: 20px;
        padding: 30px 20px 0 20px;
    }
    
    .seven-element-sect__cont {
        display: flex;
        flex-wrap: wrap;
    }

    .seven-element-sect__item {
        position: relative;
        width: 50%;
        padding-right: 30px;
        margin-bottom: 50px;
        padding-left: 30px;
    }

    .modal-case-studies__wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .seven-element-sect__item:last-child {
        margin-bottom: 0;
    }

    .seven-element-sect__item__title img {
        position: absolute;
    }

    .seven-element-sect__item__title  {
        font-size: 18px;
        font-family: 'Open Sans-Bold';
        color: #fff;
        line-height: 26px;
        padding-left: 74px;
    }

    .seven-element-sect__item__title .ecosystem-img {
        left: -38px;
        top: -70px;    
    } 

    .seven-element-sect__item__title .technology-img {
        left: -52px;
        top: -18px;    
    }

    .seven-element-sect__item__title .platforms-img {
        left: -91px;
        top: -68px;
    }

    .seven-element-sect__item__title .enterprice-img {
        left: -56px;
        top: -76px;
    }

    .seven-element-sect__item__title .leadership-img {
        left: -22px;
        top: -19px;
    }

    .seven-element-sect__item__title .tech-talent-img {
        left: -26px;
        top: -59px;
    }

    .seven-element-sect__item__title .markets-img {
        left: -29px;
        top: -60px;
    }

    .seven-element-sect__item_txt {
        color: #fff;
        font-size: 14px;
        line-height: 26px;
        margin-top: 20px;
    }

    .slider-main-abs__name {
        font-size: 16px;
        line-height: 20px;
    }

    .build-it-section {
        height: auto;
        padding-bottom: 200px;
    }


}

@media only screen and (max-width: 767px) {

    .human-exploration-sect .carousel {
        max-width: 300px;
        max-height: 446px;
        overflow-y: hidden;
    }

    .advantage-class .modal-case-studies__wrapper .icons-abs-case-studies {
        top: -20px;
    }
    
    .advantage-class .icons-abs-case-studies img {
        width: 40px;
        height: 40px;
    }

    .advantage-class .icons-abs-case-studies {
        right: -23px;
        top: 10px;
    }

    .seven-element-sect__item {
        width: 100%;
    }

    .flex-wrap-com {
        flex-wrap: wrap;
        width: calc(100% + 60px);
    }

    .advantage-tabs__cont img {
        height: 240px;
        object-fit: cover;
    }

    .advantage-tabs-top .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantage-tabs__cont p {
        width: auto
    }

    .advantage-tabs__item {
        width: calc(100% + 60px)!important;
        margin-left: -30px;
    }

    .modal-case-studies__text-oriented {
        display: none;
    }

    .advantage-class .seven-element-sect__item_txt {
        margin-top: 20px;
    }

    .advantage-class .seven-element-sect {
        display: block;
    }

    .advantage-class .advantage-tabs__cont p {
        left: 30px;
        padding-right: 60px;
    }

    .news-link-white {
        padding-left: 20px;
        padding-right: 48px;
    }

    .advantage-class .case-study__item__abs {
        width: 184px;
        top: 8px;
    }

    .advantage-class .case-study__item__abs-width-mob {
        width: 117px;
        top: 8px;
    }

    .d-flex.jcsb {
        flex-wrap: wrap;
        width: calc(100% + 30px);
    }

    .advantage-class .carousel-indicators {
        bottom: -11px;
    }

    .advantage-class .build-the-future-sect {
        height: auto;
        width: calc(100% + 60px);
        margin-left: -30px;
    }

    .advantage-class .advantage-modal__right {
        width: 100%;
    }

    .advantage-class .modal-case-studies__wrapper {
        padding-right: 30px;
    }

    .advantage-class .advantage-tabs-top .nav-tabs>li {
        margin-right: 0;
    }

    .advantage-tabs__item>a {
        padding-left: 30px;
        padding-right: 60px;
    }

    .the-future-cont__wrapper {
        flex-direction: column;
    }

    .the-future-cont__wrapper p {
        margin-bottom: 90px;
    }

    .the-future-cont__wrapper a {
        margin-top: 60px;
    }

    .build-the-future-sect {
        height: auto;
        padding-bottom: 60px;
        padding-top: 120px;
    }

    .transform-next-sect {
        height: auto;
        padding-top: 70px;
        padding-bottom: 75px;
    }

    .advantage-modal {
        flex-wrap: wrap;
    }

    .advantage-modal__left {
        padding-right: 0;
    }

    .advantage-modal__right {
        width: 100%;
        margin-top: 20px;
    }

    .bottom-sect-abs, .case-studies__element {
        display: none;
    }

    .modal-bannersect .modal-dialog  {
        left: 50%;
        transform: translate(-50%, -50%)!important;
        top: 50%;
        width: 100%;
        margin: 0;
    }

    .modal-case-studies .modal-dialog {
        margin-left: 0;
    }

    .modal-case-studies .close img {
        width: 17px;
    }

    .modal-case-studies .close {
        right: 9px;
        top: 9px;
    }

    .advantage-modal__right__txt {
        margin-top: 20px;
    }

    .advantage-class .mobile-sections {
        display: block;
    }

    .advantage-class .banner-mobile {
        position: relative;
        height: 100vh;
        padding-top: 125px;
        display: flex;
        z-index: 2;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .advantage-class .build-it-section--abs {
        right: -79px;
        top: -370px!important;
        max-width: 180px;
        z-index: 1;
    }

    .advantage-class .mobile-video-sect {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }

    .advantage-class .banner-mobile h2 {
        font-family: 'Open Sans-Bold';
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-bottom: 10px;
        color: #fff;
    }

    .advantage-class .banner-mobile p {
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: relative;
        z-index: 2;
        line-height: 24px;
    }

    .advantage-class .banner-build-section {
        min-height: 100vh;
        width: 100%;
        background-image: url(../media/images/mobile-2nd-section.png);
        background-size: cover;
        position: relative;
        padding: 75px 40px 108px 40px;
        overflow: hidden;
    }

    .advantage-class .banner-build-section h2 {
        font-size: 22px;
        line-height: 26px;
        font-family: 'Open Sans-SemiBold';
        color: #fff;
        margin-bottom: 40px;
    }

    .advantage-class .banner-build-section p {
        color: #fff;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 26px;
    }

    .advantage-class .col-w-mrg-cstm {
        margin-top: 50px;
    }

    .advantage-class .banner-build-section a {
        color: #fff;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 26px;
        font-family: 'Open Sans-SemiBold';
    }



}

@media only screen and (max-width: 575px) {

    .banner-sect-content p {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 80px;
    }

    .build-it-section--abs {
        right: -33px;
        width: 125px;
        top: -260px;
    }

    .main-subtitle {
        font-size: 22px;
        line-height: 26px;
        font-family: 'Open Sans-SemiBold';
    }

    .main-p {
        font-size: 14px;
        line-height: 26px;
    }

    .text-link {
        font-size: 14px;
        line-height: 26px;
    }

    .build-it-section {
        background-position: center;
        padding-bottom: 100px;
    }

    .case-study-section {
        padding-top: 45px;
    }

    .case-study__item__img-block {
        width: calc(100% + 60px);
        margin-left: -30px;
    }

    .case-study__item__main-img {
        height: 184px;
        object-fit: cover;
    }

    .case-study__item__title {
        margin-bottom: 40px;
    }

    .case-study__item__abs {
        width: 184px;
        top: 39px;
    }

    .case-study__item__abs-width-mob {
        width: 117px;
    }

    .case-study__item {
        margin-bottom: 60px;
    }

    .case-study__item-mt-0 {
        margin-top: 0;
    }

    .modal-case-studies__text-oriented {
        font-size: 40px;
    }

    .modal-case-studies__wrapper__abs {
        position: absolute;
        min-height: 40px;
        top: -27px;
        right: 47px;
        height: 55px;
    }

}


  
  @media (max-width: 1000px) {
    .hero h1 {
      font-size: 90px;
    }
  }
  @media (max-width: 760px) {
    .hero h1 {
      font-size: 60px;
    }

    #panels {
        display: none;
    }
  }
  @media (max-width: 510px) {
    .hero h1 {
      font-size: 40px;
    }
  }
  